/* Your style goes here */
body {
  padding: 0;
  font-size: 30px;
}
.block--curdate{
  span{
    margin-right: 15px;
    
    }
  }
.block--curday{
  background: #0068c7;
  border-radius: 50%;
  color: #ffffff;
  }

.block--header{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 2px #cecece solid;

  .block--btn{
    button{
      margin-right: 15px;
      }
    }
  .block--curdate{
    font-weight: bold;
    }
  }
.block--main{
  .block--week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 45px 0 45px;
    font-weight: bold;
    .day--week{
      }
    }
  .block--days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-columns: auto;
    text-align: center;
    .block--day {
      padding: 45px 0;
      }
    }
  }

.block--month{
  display: block;
  width: 800px;
  margin: 100px auto 100px;
  box-shadow: 1px 1px 10px 10px #ebebeb;
  border: 2px #cecece solid;
  border-radius: 10px;
  }
 
 .block--days_start_col{
   grid-column-start: 3;
   }
 .block--day_next_month,
 .block--day_prev_month{
   padding: 45px 0;
   color: #7c7474;
   }